{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple page</title>
  </head>
  <body>
    <p> Продукт №{{ item.pk }} </p>
    <p> Описание {{ item.description }}</p>
    <script>
        var price = {{ item.price|escapejs }};
        let result = price / 100;
        document.write("Цена: $" + result);
    </script>
    <button id="buyButton">Buy</button>
    <script src="{% static '/js/redirect.js' %}"></script>
  </body>
</html>
